<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Transaction History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>  
    <ion-list-header style="font-weight:bold;">
      <ion-label>Transaction History</ion-label>
     </ion-list-header>
     <ion-item>   
     <ion-grid>
       <ion-row>             	
        <ion-col size="2.6" style="font-size:13px; font-weight:bold;">10 SMLT</ion-col> 
        <ion-col style="font-size:13px;">0xC8d424150A227B7bf9eA4988CF850062404e9BA0</ion-col>
       </ion-row>
     </ion-grid>
   </ion-item>
   </ion-list>
</ion-content>
